.cim{
    background-position-y: 25%;
    background-image: url("bg.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 30vh;
}

.tartalom{
    border-top: 5px ;
}

.row{
    height:67vh;
    width: 100vw;
}

 